<style>
  .ui-page, body {
    background-position-x: -150px;
    background-size: 500px;
    background-image: url(<%= asset_path 'login_background.jpg' %>);
    background-attachment: fixed;
  }
  body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  }
  main{
    flex: 1 0 auto;
  }
</style>
<header id="dashboard">
  <div class="navbar-fixed">
    <nav class="light-blue">
      <div class="nav-wrapper">
        <h4 class="center">Dashboard</h4>
      </div>
    </nav>
  </div><!-- /header -->
</header>
<main>
  <div class="container white">
    <% if flash[:notice] %>
       <div id = "notice" class = "notice">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <ul class="collapsible" data-collapsible="accordion">
      <li>
        <div class="collapsible-header">My Events</div>
        <div class="collapsible-body">
          <ul class="collection">
            <% now = DateTime.now().in_time_zone(@zone) %>
            <% @user_events.each do |a| %>
              <% if a.event.start_date_and_time.in_time_zone(@zone) < now %>
                <li class = "attendance-now collection-item">
              <% elsif a.event.start_date_and_time.in_time_zone(@zone).to_date == now.to_date %>
                <li class = "attendance-today collection-item">
              <% elsif a.event.start_date_and_time.in_time_zone(@zone).to_date == now.to_date+1.day %>
                <li class = "attendance-tomorrow collection-item">
              <% else %>
                  <li class = "attendance-future collection-item">
              <% end %>
                <%=link_to "#{a.event.name}: #{a.commitment_status}", a.event, data:{ajax: "false"} %></li>
            <%end%>
            <li class="collection-item"><%= "You have no events"  unless @user_events.length > 0 %></li>
          </ul>
        </div>
      </li>


      <% unless session[:is_parent?] %>
      <li>
        <div class="collapsible-header">My Nudges</div>
        <div class="collapsible-body">
          <ul class="collapsible" data-collapsible="accordion">
            <li>
              <div class="collapsible-header">Incoming Nudges (<%=@nudges_in.length%>)</div>
              <div class="collapsible-body">
                <ul class="collection">
                  <% @nudges_in.each do |n| %>
                    <li class="collection-item">
                      <%=link_to "#{n.nudger.username} wants to go to #{n.event.name} with you", n.event, data: {ajax: "false"}%>
                    </li>
                  <%end%>
                </ul>
              </div>
            </li>
            <li>
              <div class="collapsible-header">Outgoing Nudges (<%=@nudges_out.length%>)</div>
              <div class="collapsible-body">
                <ul class="collection">
                  <% @nudges_out.each do |n| %>
                    <li class="collection">
                      <%=link_to "You want to go to #{n.event.name} with #{n.nudgee.username}",  n.event, data: {ajax: "false"}%>
                    </li>
                  <%end%>
                </ul>
              </div>
            </li>
          <% end %>
        </div>
      </li>

      <li>
        <div class="collapsible-header">Trending</div>
        <div class="collapsible-body">
          <ul class="collection">
            <% @trending_events.each do |event| %>
              <li class="collection-item">
                <%= link_to "#{event.name}: #{pluralize(event.attendees.count, 'person')} going", event, data: {ajax: "false"} %>
              </li>
            <% end %>
          </ul>
        </div>
      </li>

      <li>
        <div class="collapsible-header">Find Events</div>
        <div class="collapsible-body">
          <ul class="collection">
            <li class="collection-item"><%= link_to "Today", events_path(start_time: Date.today.in_time_zone(get_time_zone)), data: {ajax: "false"} %></li>
            <li class="collection-item"><%= link_to "Tomorrow", events_path(start_time: Date.tomorrow.in_time_zone(get_time_zone)), data: {ajax: "false"} %></li>
            <li class="collection-item"><%= link_to "This Week", events_path(start_time: Date.today.in_time_zone(get_time_zone), end_time: Date.today.in_time_zone(get_time_zone) + 6.days), data: {ajax: "false"} %></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</main>

<footer class="page-footer grey lighten-1">
  <%= render "shared/navbar" %>
</div>
